

   

<!DOCTYPE html>

<html
><head>
<title>F. Enviroment</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

</head>
<style media="screen">
  body{
    background-color:#ADD8E6;
  }
  label{
    width: 350px;
    font-size: 20px;
   }
</style>

<body bgcolor="#ADD8E6">
   <nav id="nav" class="navbar navbar-default navbar-fixed-top navbar-inverse ">
		<div class="container-fluid">
			<div class="navbar-header navbar-left">
			   <a href="{% url 'page1' %}" id="navbar-brand" class="navbar-brand">PSSR</a>
			</div>
			
			<div class="navbar-header navbar-right" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li> <a href="{% url 'admin:index' %}">M I S</a></li>
					</ul>             
		   </div>
			<div class="navbar-header navbar-right" id="bs-example-navbar-collapse-1">
				 <ul class="nav navbar-nav">
					 <li> <a href="{% url 'ENVIROMENT' %}">FORM OUTPUT</a></li>
					 </ul>             
			</div>
		</div>
</nav>
  <div class="container" style="text-align: center;">
   <br><br>
<div class="jumbotron" style="text-align: center;background-color:rgb(139, 167, 192)">
   <H1>Enviroment</H1>
</div>

<form align="left" method ="POST">
   {% csrf_token %}
<label for="">Enviroment Items :  </label><select name ="Enviroment_Items"id="severity" style="width:500px;height:50px;font-size:20px;" required>
   <option selected >     ----select----</option>
   <option>F.1 Are all secondary containment/bonding facilities provided?   </option>

   <option>F.2 Are all material storage facilities adequate and appropriately labeled?</option>
   
   <option>F.3 Have adequate arrangements been made, prior to start-up, for the identification, classification and safe disposal of all waste materials?              </option>
   <option>F.4 Have all materials, used in the system, been entered on the Area Chemicals Inventory List (or equivalent)?   </option>
   <option>F.5 Are updated Area Spill Procedures available & updated?             </option>
   <option>F.6 Are material Unloading Facilities adequate and constructed in accordance with Corporate Safety, Health and Environmental Standards? </option>
   <option>F.7 Is there adequate containment (110% of volume) in the unloading areas for bulk liquid chemicals?    </option>
   <option>F.8 Have all waste streams been identified, quantified, analyzed and minimized?          </option>
   <option>F.9 Are all of the applicable Construction, Environmental and Operating Permits up to-date and approved?               </option>
   </select>

<br><br>
<label for=""><b>Appicable  :</b></label>
   	<input type="radio" name="radio" value="YES" id="radiogroup1" required>YES
   	<input type="radio" name="radio" value="NO" id="radiogroup2">NO <br><br><br>

<label for="">Explanation of the deviation  :  </label>         <input type="text" name="Explanation_of_the_deviation" style="height:50px; width:500px;font-size:20px" id="text" required><br><br><br>

<label for=""><b>Action Item description(s)  :</b></label> <input type="text" name="Action_Item_description" style="height:100px; width:500px;font-size:20px" id="text" required><br><br><br>


<label for="">Responsibility  :  </label><input type="text" name="Responsibility" style="height:50px; width:500px;font-size:20px" id="text" required><br><br><br>


<label for="">plan date of completion  :  </label><input type="date" name="Plan_date_of_completion" style="height:50px;width:500px;font-size:20px" required><br><br><br>

<label for="">Actual date of completition  :  </label><input type="date" name="Actual_date_of_completion" style="height:50px; width:500px;font-size:20px" id="text" required><br><br><br>


<label for="">Severity  :  </label><select name ="Sever"id="severity" style="width:500px;height:50px;font-size:20px" required>
	<option selected >     ----select----</option>
	<option> Introlerable</option>
	<option> Tolerable with alternate</option>
	<option> Tolerable</option>
	</select>
<br><br><br>


<input type="submit" value="submit" class="btn btn-default" style="color:rgb(255, 255, 255);height:50px;width:200px; background-color:rgb(82, 82, 250);margin-left: 40%; font-size:20px"><br><br><br> 

</div>
</form>
<br><br><br>
</body>
</html>
